<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.graduation.dao.OjMapper">
    <sql id="insertFields">
        platform,oj_id,username,history_rating,now_rating
    </sql>

    <sql id="selectFields">
        platform,oj_id,username,history_rating,now_rating
    </sql>


    <insert id="insertOj" parameterType="Oj" keyProperty="id">
        insert into oj (<include refid="insertFields"></include>)
        values(#{platform}, #{ojId}, #{username},#{historyRating},#{nowRating})
    </insert>

    <select id="selectListOjId" resultType="String">
        select oj_id
        from oj
        where username = #{username} and platform = #{platform}
    </select>

    <select id="selectAllOj" resultType="Oj">
        select <include refid="selectFields"></include>
        from oj
    </select>

    <select id="selectListOj" resultType="Oj">
        select <include refid="selectFields"></include>
        from oj
        where username = #{username}
    </select>

    <delete id="deleteOjByUsername">
        delete from oj
        where username = #{username}
    </delete>

    <delete id="deleteOjByUsernameAndPlatform">
        delete from oj
        where username = #{username} and platform = #{platform}
    </delete>

    <update id="updateNowRating">
        update oj
        set now_rating = #{nowRating}
        where username = #{username} and platform = #{platform} and oj_id = #{ojId}
    </update>

    <update id="updateHistoryRating">
        update oj
        set history_rating = #{historyRating}
        where username = #{username} and platform = #{platform} and oj_id = #{ojId}
    </update>

    <select id="selectOjByPlatform" resultType="Oj">
        select a.platform,a.oj_id,a.username,a.history_rating,a.now_rating
        from oj a
        where platform = #{platform} and
        not EXISTS(
        select 1 from oj where username = a.username and now_rating > a.now_rating and  platform = #{platform}
        )
        order by now_rating desc
    </select>



</mapper>