<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.graduation.dao.UserMapper">

    <sql id="insertFields">
        username, password, status, create_date, major, identity_card, phone, email, name, clothing_size, gender, is_score, session
    </sql>

    <sql id="selectFields">
         username, password, status, create_date, major, identity_card, phone, email, name, clothing_size, gender, is_score, session
    </sql>

    <select id="selectByUsername" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>

    <select id="selectByName" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where name = #{name}
    </select>

<!--    <select id="selectByEmail" resultType="User">-->
<!--        select <include refid="selectFields"></include>-->
<!--        from user-->
<!--        where email = #{email}-->
<!--    </select>-->
    
    <insert id="insertUser" parameterType="User">
        insert into user (<include refid="insertFields"></include>)
        values(#{username}, #{password}, #{status}, #{createDate}, #{major}, #{identityCard}, #{phone}, #{email}, #{name}, #{clothingSize}, #{gender},#{isScore},#{session})
    </insert>

    <update id="updateStatus">
        update user set status = #{status}
        where username = #{username}
    </update>

    <update id="updateHeader">
        update user set header_url = #{headerUrl}
        where username = #{username}
    </update>

    <update id="updatePassword">
        update user set password = #{password}
        where username = #{username}
    </update>

    <select id="selectAllUsers" resultType="User">
        select <include refid="selectFields"></include>
        from user
    </select>

    <update id="updateUser">
        update user set name = #{name},major= #{major}, email=#{email},gender=#{gender},phone=#{phone},identity_card=#{identityCard},clothing_size=#{clothingSize}
        where username = #{username}
    </update>



</mapper>